//Fonts----------------
$arial: Arial, Helvetica, sans-serif;
$pacifico: 'Pacifico', cursive;
$caveat: 'Caveat', cursive;
$nito: 'Nunito', sans-serif;
$big-text: 2.5rem;

//Colors---------------

$standart: #fff;
$black: #000;
$orange: #f0bc44;
$gray: #808080;
$green: #6c7b00;
$red: #a34007;
$disable: #9e9e9e38;
$grey-orange: #564c36;
$grey-opasity: #252525bc;
$black-gradient: linear-gradient(170deg,rgb(35, 35, 35), rgb(25, 25, 25)) no-repeat center / cover;
$orange-gradient: linear-gradient(90deg, $grey-orange, $orange) no-repeat center / cover;
$orange-white-gradient: linear-gradient(-60deg, $orange,#e5dc59) no-repeat center / cover;
